.admin-form.add-article-form {
    padding: 15px;
}
.admin-form .form-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.admin-form .form-item label {
    margin-bottom: 5px;
}
.admin-form .form-item select:focus,
.admin-form .form-item input:focus {
    outline: 2px #a1a1a1 solid;
}

.admin-form .form-item select,
.admin-form .form-item input {
    height: 40px;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    color: #fff;
    text-shadow: 0.5px 0.5px #000;
}
.sun-editor .se-toolbar,
.sun-editor {
    backdrop-filter: blur(8px);
    border: none;
    outline: none;
}
.sun-editor .se-toolbar {
    background: none;
    border-bottom: 2px #6f6f6f solid;
}
.sun-editor {
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
    text-shadow: none;
}
.sun-editor .se-btn-module-border {
    border: none;
    background-color: rgba(255, 255, 255, 0.7);
    margin: 5px;
}
.sun-editor input {
    color: unset !important;
    text-shadow: none !important;
}
.sun-editor .se-btn-select > svg {
    margin-right: 5px;
}
