@font-face {
    font-family: estedad;
    src: url(./assets/font/Estedad-FD-Medium.ttf);
}

@font-face {
    font-family: vazirmatn;
    src: url(./assets/font/Vazirmatn-Regular.woff2);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: vazirmatn;
}
body {
    direction: rtl;
    color: #fff;
    text-shadow: 0.5px 0.5px #000;
}
a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style: none;
}
.container {
    margin: 0 70px;
    padding: 20px;
    max-width: 1400px;
}
.site-title {
    margin-bottom: 15px;
    position: relative;
}
h3.site-title::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 80%;
    background: #e4ff7d;
    border-radius: 5px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    filter: drop-shadow(0px 0px 5px #f3ff89);
}

span.server-error {
    margin: 20px;
    background: #00000094;
    z-index: 10;
    padding: 5px;
    color: red;
    border-radius: 5px;
    font-size: var(--title-text-size);
}
/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
:root {
    --title-text-size: 14px;
    --text-size: 13px;
    --sub-info-size: 12px;
    --btn-color: #ffd600;
}
