.client-loading {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #161616;
}
.logo img {
    width: 100%;
    display: flex;
}
.logo {
    width: 100px;
}
.nav-logo a {
    display: flex;
}
.auth-links a {
    display: flex;
    padding: 10px 8px;
    margin-left: 5px;
    background: var(--btn-color);
    border-radius: 10px 0;
    font-size: var(--title-text-size);
    text-shadow: none;
    color: #fff;
    align-items: center;
    flex-direction: row-reverse;
}
.navigation {
    position: fixed;
    top: 0;
    width: 100%;
    backdrop-filter: blur(10px);
    background: linear-gradient(45deg, #19415a, #002148c7);
    transition: all 0.2s ease;
    z-index: 1000;
    border-bottom: 2px var(--btn-color) solid;
}
.navigation .container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}
.nav-item a {
    display: flex;
    padding: 3px 10px;
    border-radius: 5px;
    font-size: 14px;
    transition: all 0.2s ease;
    background: var(--btn-color);
}
.nav-item {
    margin-left: 20px;
}
.nav-logo {
    display: flex;
    width: 100px;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 5px;
    transition: all 0.2s ease;
}
.navigation-left-side {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.navigation-right-side {
    display: flex;
}
.nav-logo img {
    width: 100%;
}

/* footer */

.footer {
    display: flex;
    flex-direction: column;
    background-image: url(../../assets/img/main-head.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}
.footer .container {
    z-index: 10;
}
.footer-first-row {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    align-items: center;
}
.batech-socialmedia {
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.socialmedia-caption p {
    font-size: 14px;
}
.social-media-links {
    display: flex;
}
.social-media-links a {
    font-size: 27px;
    display: flex;
    transition: color 0.2s ease-in-out;
    margin-left: 10px;
}
.batech-news-mail {
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.newsmail-form {
    display: flex;
    height: 45px;
    width: 30rem;
}
.newsmail-form input {
    width: 80%;
    border: none;
    padding: 10px;
    border-radius: 0 5px 5px 0;
    outline: none;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    color: #fff;
}
.newsmail-form .submit-btn {
    height: 100%;
    display: flex;
    width: 20%;
    border-radius: 5px 0 0 5px;
    overflow: hidden;
}
.newsmail-form .submit-btn button {
    width: 100%;
    border: none;
    cursor: pointer;
    font-size: var(--title-text-size);
    font-weight: bold;
}
.social-media-links a:hover {
    color: #70baff;
}
.batech-news-mail span {
    font-size: 13px;
}
.footer-second-row {
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
}
.footer-links {
    display: flex;
    flex-direction: column;
}
.footer-links a:hover {
    padding: 5px 10px;
}
.footer-column {
    width: 240px;
}
.footer-links a {
    position: relative;
    padding: 5px;
    font-size: var(--text-size);
    display: flex;
    transition: all 0.2s ease-in-out;
    background: var(--btn-color);
    margin: 3px 0;
    border-radius: 5px;
    backdrop-filter: blur(5px);
}
.line-breacker {
    width: 100%;
    height: 10px;
    background: #ffd600;
    margin: auto;
}
.copy-right {
    padding: 25px 0;
    font-size: 15px;
    text-align: center;
}
.line-breacker.even {
    background: linear-gradient(225deg, #70baff, transparent);
}
.line-breacker.odd {
    background: linear-gradient(45deg, #70baff, transparent);
}
.category-wrapper {
    position: absolute;
    padding: 15px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
    width: 15rem;
    top: 45px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;
}
.nav-item.categories:hover .category-wrapper {
    opacity: 1;
    visibility: visible;
}
.nav-item.categories {
    position: relative;
}
.category-wrapper li {
    padding: 10px;
    background: #000000;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: var(--text-size);
    text-shadow: none;
    color: var(--btn-color);
}
.category-wrapper li:last-child {
    margin-bottom: unset;
}
.auth-links a span {
    margin-left: 5px;
}
