.news {
    display: grid;
    grid-template-areas:
        "right right right main main main main main main left left left"
        "right right right main main main main main main left left left";
    gap: 5px;
}
.left-side {
    grid-area: left;
}
.right-side {
    grid-area: right;
}
.main-news {
    grid-area: main;
    padding: 0 15px;
}
.main-news-item .thumbnail img {
    width: 100%;
    display: flex;
    object-fit: contain;
    height: 100%;
}
.content-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}
.main-news-item {
    display: flex;
    flex-direction: row-reverse;
    background: rgba(255, 255, 255, 0.1);
    height: 200px;
    border-radius: 20px;
    box-shadow: 2px 2px 15px 0 #0000003b;
    backdrop-filter: blur(10px);
    margin-bottom: 20px;
}
.main-news-item .main-card-title h3 {
    font-size: var(--title-text-size);
    text-align: justify;
}
.main-news-item .subtitle {
    font-size: var(--text-size);
    text-align: justify;
}
.main-news-item .thumbnail {
    width: 200px;
    height: 100%;
}
.main-news-item .thumbnail img {
    width: 100%;
    display: flex;
}
.main-card-info {
    display: flex;
    justify-content: space-between;
    font-size: var(--sub-info-size);
}
.content {
    background-image: url(../../assets/img/news-back.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
